<article id="<%= dom_id recipe %>" class="col-4">
  <%= render "recipe_header", recipe: recipe %>

  <div class="hstack justify-between items-center mb-3">
    <span>By <%= link_to "👤 #{recipe.user.email_address}", user_path(recipe.user) %></span>
  </div>

  <img src="https://picsum.photos/seed/12/600/400" alt="recipe" />

  <footer>
    <%= link_to "See more", recipe_path(recipe), class: "w-100", type: 'button' %>
  </footer>
</article>
