<%= render "recipe_header", recipe: @recipe %>

<p>By <%= link_to "👤 #{@recipe.user.email_address}", user_path(@recipe.user) %></p>

<img src="https://via.placeholder.com/600x300" alt="recipe">

<h2>Ingredients</h2>
<ul>
  <li>200g Spaghetti</li>
  <li>2 Eggs</li>
  <li>100g Pancetta</li>
</ul>

<h2>Steps</h2>
<p>
  1. Boil pasta<br>
  2. Cook pancetta<br>
  3. Mix everything
</p>
